/* global.css */

@font-face {
  font-family: Silkscreen;
  src: url(../fonts/Silkscreen-Regular.ttf);
}

#app {
  height: 100%;
  color: var(--main-text-color);
  background: #861cb0;
  background: linear-gradient(0deg, rgb(94, 19, 124) 0%, rgb(56, 11, 78) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Silkscreen;
}
